<!DOCTYPE HTML>
<html>
  <head>
    <title>BlackCat</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight:normal;
        color: darkgreen;
        text-align:center;
      }

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }

      h2 {
        font-family: Roboto;
        font-size: 32px;
        color: seagreen;
        text-align: center;
        font-weight: normal;
      }
    </style>
  </head>

  <body>
    <h1>Black Cat</h1>
    <img id="banner" src="https://images.pexels.com/photos/1404819/pexels-photo-1404819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="427">

    <h2>About BlackCat</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget dolor non eros commodo suscipit. Pellentesque fringilla dolor tortor, sit amet egestas nibh elementum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ut massa diam. Donec finibus tincidunt mi, vitae facilisis urna convallis ullamcorper. Phasellus vel ultricies elit. Sed convallis in neque non interdum. Sed consequat massa quis nisi consectetur, iaculis pulvinar ex mattis. Nam augue diam, hendrerit sit amet pharetra et, iaculis id diam. Donec sed purus sed tellus dignissim finibus ut sit amet sapien. Duis fringilla lectus sem, sit amet viverra velit fringilla sit amet. Curabitur aliquam quam a volutpat tincidunt. Curabitur sollicitudin molestie ullamcorper. Integer placerat dolor velit, vitae lacinia lacus interdum ac.</p>

    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
  </body>
</html>